<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
<meta charset="utf-8" />
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- open-iconic -->
<link href="{% static "calendrier/css/open-iconic.min.css" %}" rel="stylesheet">
<!-- Chargement de css perso -->
<link rel="stylesheet" href="{% static "calendrier/css/style.css" %}">
</head>

<body data-spy="scroll" >

<!-- en tête -->
	<header id="nom" class="">
    <h1>{{ title }}</h1>
{% block header %}

{% endblock %}
{% if utilisateur %}
{{ utilisateur.username }} ({{ utilisateur.id }})
<a href="{% url 'Tiers:logout' %}">Déconnexion</a>
{% endif %}
	</header>

<!-- menu -->
	<div id="menu" class="" >
		<nav class="" >

		</nav>
	</div>
  <nav id="menuSegondaire" class="" >
    {% block menuSegondaire %}
    {% endblock %}
  </nav>


<!-- Corp -->
	<main>
    {% block main %}
    {% endblock %}
	</main>

<!-- Pied -->
	<footer class="row">
{% block footer %}
<p>footer</p>
{% endblock %}
	</footer>

<aside class="fixed-bottom text-right">
	<a href="#" class="oi oi-chevron-top btn btn-secondary"></a>
</aside>
<script src="{% static "calendrier/js/script.js" %}" ></script>

</body>
</html>
