<h1 id="formAddDate">Ajouter une date</h1>
{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'Calendrier:sauverDate' %}" method="post">
{% csrf_token %}
    <label for="contrat">contrat</label>
    <select id="contrat" name="contrat">
    {% for contrat in Contrats %}
      <option value="{{ contrat.id }}">{{ contrat }}</option>
    {% endfor %}
    </select>
    <br>
    <label for="date">date</label>
    <input type="date" name="date" id="date" value="{{ date|date:"Y-m-d" }}">
    <br>
    <label for="typeTravail">type de travail</label>
    <select id="typeTravail" name="typeTravail">
{% for option in listeTypeTravail %}
      <option value="{{ option.id }}">{{ option.nom }}</option>
{% endfor %}
    </select>
    <br>
    <label for="heure">heure rémunéré</label>
    <input type="input" name="heure" id="heure" value="{{ heure }}">
    <br>
    <label for="indemEntretien">Indemnité d'entretien</label>
    <input type="checkbox" id="indemEntretien" name="indemEntretien"
    {% if indemEntretien %}selected{% endif %}>
    <br>
    <label for="indemRepas">Indemnité de repas</label>
    <input type="checkbox" id="indemRepas" name="indemRepas"
    {% if indemRepas %}selected{% endif %}>
    <br>
    <label for="indemGouter">Indemnité de gouter</label>
    <input type="checkbox" id="indemGouter" name="indemGouter"
    {% if indemGouter %}selected{% endif %}>
    <br>
    <label for="indemKm">Indemnité kilométrique</label>
    <input type="input" name="indemKm" id="indemKm" value="{{ indemKm }}">
    <br>
    <input type="submit" value="ajouter">
</form>
