{% extends "base_menu.html" %}

{% block menuSegondaire %}
<a href="{% url 'Calendrier:mois' precedentAnnee precedentMois %}">
  Mois précédent ({{precedentMois}}/{{precedentAnnee}})
</a>
 |
<a href="{% url 'Calendrier:index' %}">Calendrier:index</a>
 |
<a href="{% url 'Calendrier:mois' suivantAnnee suivantMois %}">
  Mois suivant ({{suivantMois}}/{{suivantAnnee}})
</a>
{% endblock %}

{% block main %}
<h1>{{sousTitre}}</h1>

<h2>Contrat:</h2>
<ul>
{% for Contrat in Contrats %}
  <li style="--color:{{ Contrat.couleur }};" class="pastille">{{ Contrat }}</li>
{% endfor %}
</ul>

<ul class="calendrier">
{% for jour in joursMois %}
  {% if jour %}
  <li class="{% if jour.estWeekend %}weekend{% endif %}{% if jour.estFerie %} ferie{% endif %}">
    <span class="vacances">
      <span class="{% if jour.estVacancesZoneA %}zoneA{% endif %}"
      title="{% if jour.estVacancesZoneA %}Vacances zone A{% endif %}"></span>
      <span class="{% if jour.estVacancesZoneB %}zoneB{% endif %}"
      title="{% if jour.estVacancesZoneB %}Vacances zone B{% endif %}"></span>
      <span class="{% if jour.estVacancesZoneC %}zoneC{% endif %}"
      title="{% if jour.estVacancesZoneC %}Vacances zone C{% endif %}"></span>
    </span>
    <span class="date">{{ jour.date }}</span>
    {% for contrat in jour.contrats %}
    <span class="contrat pastille" id="contrat_{{contrat.contratId}}" style="--color:{{ contrat.ContratCouleur }};">
      {% if contrat.contratId %}
      <span class="heuresRealise">{{ contrat.heuresRealise }}h</span>
      <span class="TypeTravail" title="{{ contrat.TypeNom }}">{{ contrat.TypeSigle }}</span>
      <span class="indemnite entretien {{ contrat.indemEntretien }}"
        title="Indemnité entretien">E</span>
      <span class="idemnite repas {{ contrat.indemRepas }}"
        title="Indemnité de repas">R</span>
      <span class="idemnite gouter {{ contrat.indemGouter }}"
        title="Indemnité de gouter">G</span>
      <span class="idemnite kilometrique {% if contrat.indemKm > 0 %}True{% else %}False{% endif %}"
        title="Indemnité kilometrique">{{ contrat.indemKm|default:"-" }} km</span>
      {% endif %}
    </span>
    {% empty %}
    {% endfor %}
  </li>
  {% endif %}
{% endfor %}
{% for key, TotalContrat in total.items %}
  <li class="total pastille" style="--color:{{ TotalContrat.couleur }};">
    <span class="contrat">{{ TotalContrat.nom }}</span>
    <span class="heures">Heures rémunérées: {{ TotalContrat.total.HeuresRemunere }}h</span>
    <span class="idemnite entretien" title="Indemnité d'entretien">
      E: {{ TotalContrat.nbIndemEntretien }}
    </span>
    <span class="idemnite repas" title="Indemnité de repas">
      R: {{ TotalContrat.nbIndemRepas }}
    </span>
    <span class="idemnite gouter" title="Indemnité de gouter">
      G: {{ TotalContrat.nbIndemGouter }}
    </span>
    <span class="idemnite kilometrique" title="Indemnité kilometrique">
      {{ TotalContrat.total.IndemKm }} km
    </span>
  </li>
{% endfor %}
</ul>

{% include "calendrier/ajouter.html" %}
{% endblock main %}
