/* général */

/* calendrier */
ul.calendrier{
  list-style: none;
  margin: 1rem;
  padding : 0.2rem;
}
.calendrier li{
  padding: 0 0.2rem;
  border: 0.1rem solid black;
}

/* jour férie */
.calendrier .ferie{
  background-color: #d5d5d5c8;
}

.calendrier .weekend{
  background-color: #ebebebc8;
}

.calendrier .date{
  display: inline-block;
  width:10rem;
  margin-left: 2rem;
}

/* Vacances scolaires */
.calendrier span{
  display: inline-block;
}
.calendrier .vacances{
  height: 100%;
  width: 1rem;
  margin: 0 0.2rem;
  position: relative;
  z-index: -10;
}
.calendrier span.vacances{
  display: inline;
}
.calendrier .vacances>span{
  display: inline-block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
}
.calendrier .zoneA{
  background-color: #ffc0c0;
}
.calendrier .zoneB{
  background-color: #c0ffc0;
  left:0.5rem;
}
.calendrier .zoneC{
  background-color: #c0c0ff;
  left:1rem;
}
/* Travail */
.calendrier .contrat{
  width: 16rem;
}
.calendrier .contrat.pastille::before{
  content:"";
  width:0.5rem;
  height:1rem;
  display: inline-block;
  border-radius: 40% 0 0 40%;
  margin: 0 0.1em;
  background-color:var(--color);
}
.calendrier .contrat.pastille::after{
  content:"";
  width:0.5rem;
  height:1rem;
  display: inline-block;
  border-radius: 0 40% 40% 0;
  margin: 0 0.1rem;
  background-color:var(--color);
}
.calendrier .contrat>.idemnite{
  width:0.8rem;
}
.calendrier .contrat>.idemnite.kilometrique{
  text-align: end;
  width:4rem;
}
.calendrier .contrat>.TypeTravail{
  width:2rem;
}

.contrat .False{
  color:#c6c6c6;
}
.contrat .True{
  color:#2dac00;
}

/* total */
.calendrier .total{
  padding-left:4rem;
  border:none;
}

.calendrier .total>span{
  font-weight: bold;
  margin: 0 0.5rem;
}
.calendrier .total>.contrat{
  width:auto;
}

/* Contrats */
li.pastille::before{
  content:"";
  width:1rem;
  height:1rem;
  display: inline-block;
  border-radius: 40%;
  margin: 0 0.3rem;
  background-color:var(--color);
}
li.pastille{
  list-style-type:none;
}

@media print{
  header,
  div#menu,
  nav#menuSegondaire,
  h1#formAddDate,
  form,
  footer,
  aside{
    display:none;
  }
}
