<h1>Identification</h1>
{% if message %}
  <p><strong>{{ message }}</strong></p>
{% endif %}

<form action="{% url 'Tiers:login' %}" method="post">
  {% csrf_token %}
  <label for="username">Nom d'utilisateur</label>
  <input id="username" name="username" type="text">
  <br>
  <label for="password">Mot de passe</label>
  <input id="password" name="password" type="password">
  <br>
  <input type="submit" value="valider">
</form>